<!DOCTYPE html>
<html>
<head>
    <title>Search Vehicle</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">

    <h2>Search Vehicle</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn btn-primary">
            Search
        </button>
    </form>

    {% if vehicle_data %}
    <div class="card mt-4">
        <div class="card-body">

            <h4>Vehicle Details</h4>

            <p><strong>Vehicle:</strong> {{ vehicle_data.vehicle.vehicle_number }}</p>

            <p><strong>Owner:</strong> {{ vehicle_data.vehicle.owner_name }}</p>

            <p><strong>Type:</strong> {{ vehicle_data.vehicle.vehicle_type }}</p>

            <p><strong>Slot:</strong> {{ vehicle_data.record.slot.slot_number }}</p>

        </div>
    </div>
    {% endif %}

</div>

</body>
</html>